.button {
  text-decoration: none;
  appearance: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  min-block-size: 44px;
  min-inline-size: 200px;
  padding: 8px 20px;
  font-size: inherit;
  font-weight: 600;
  text-align: center;
  border: 1px solid currentColor;
  background-color: transparent;
  border-radius: 22px;
  transition: all 0.4s ease-in;
  cursor: pointer;

  &__text {
    flex: auto;
    color: inherit;
  }

  &__icon {
    flex: none;
    min-inline-size: 1.5em;
    max-inline-size: 1.5em;
    inline-size: 1.5em;
    block-size: 1.5em;

    &::before {
      transition: transform 0.2s ease-in;
    }
  }

  &:hover {
    .button__icon::before {
      transform: translateX(-5%) scale(1.1);
    }
  }

  &:active {
    transform: translateY(1px);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--main-text-color);
  }

  &_theme_outline {
    &-accent {
      color: var(--accent-color);
      &:hover {
        background-color: var(--accent-color);
        color: rgba(white, 0.9);
      }
    }
    &-main {
      color: var(--main-color);
      &:hover {
        background-color: var(--main-color);
        color: rgba(white, 0.9);
      }
    }
    &-pink {
      color: var(--local-pink-color);

      &:hover {
        background-color: var(--local-pink-color);
        color: rgba(white, 0.9);
      }
    }
  }

  &_theme_fill {
    &-accent {
      background-color: var(--accent-color);
      color: rgba(white, 0.9);
      border-color: var(--accent-color);

      &:hover {
        background-color: rgba(var(--accent-color-opacity), 0.75);
      }
    }
  }

  &_theme_text {
    &-main {
      background-color: transparent;
      color: var(--main-color);
      border-color: transparent;

      &:hover {
        background-color: rgba(var(--main-color-opacity), 0.25);
      }
    }
    &-red {
      background-color: transparent;
      color: var(--local-red-color);
      border-color: transparent;

      &:hover {
        background-color: rgba(var(--local-red-color-opacity), 0.25);
      }
    }
  }

  &_content {
    &_only-icon {
      min-inline-size: unset;
      padding: 10px;
    }

    // стрелочка далее
    &_icon-arrow-next {
      padding-inline-end: 0;

      &:hover .button__icon::before {
        animation:
          move-right-initial 0.2s forwards,
          move-right-end 0.4s forwards 0.2s;
      }

      .button__icon {
        overflow: hidden;
        inline-size: 2.75em;
        min-inline-size: 2.75em;
        max-inline-size: 2.75em;

        &::before {
          inline-size: 1.5em;
        }
      }
    }
  }
}

@keyframes move-right-initial {
  to {
    transform: translate3d(250%, 0, 0);
  }
}

@keyframes move-right-end {
  from {
    transform: translate3d(-150%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
