.page {
  &__wrap {
    max-inline-size: var(--main-block-size);
    padding-block: var(--section-gap);
    margin-inline: auto;

    &_size_wide {
      max-inline-size: var(--wide-block-size);
    }
  }

  &__title {
    margin: 0;
    color: var(--main-color);
    font-size: clamp(2.5rem, 1.875rem + 3.125vw, 5.625rem);
    display: block;
    font-family: var(--heading-font-family);
    font-weight: normal;
    text-transform: uppercase;
  }
}
