.icon {
  &::before {
    content: '';
    background-color: currentColor;
    display: block;
    inline-size: 100%;
    block-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }

  &_type {
    &_arrow-next::before {
      mask-image: url('../../images/icons.svg#arrow-next');
    }
    &_close::before {
      mask-image: url('../../images/icons.svg#close');
    }
    &_phone::before {
      mask-image: url('../../images/icons.svg#phone');
      background-color: var(--local-green-color);
    }
    &_search::before {
      mask-image: url('../../images/icons.svg#search');
    }
    &_telegram::before {
      mask-image: url('../../images/icons.svg#telegram');
      background-color: var(--local-blue-color);
    }
    &_vkontakte::before {
      mask-image: url('../../images/icons.svg#vkontacte');
      background-color: var(--main-color);
    }
  }
}
