.field {
  &__inner {
    display: grid;

    &:after {
      content: '';
      display: block;
      background-color: var(--local-red-color);
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iY3VycmVudENvbG9yIiB2aWV3Qm94PSIwIDAgMjQgMjQiPgogIDxwYXRoIGQ9Ik0xMyAxM2gtMlY3aDJtMCAxMGgtMnYtMmgyTTEyIDJhMTAgMTAgMCAxIDAgMCAyMCAxMCAxMCAwIDAgMCAwLTIwWiIvPgo8L3N2Zz4K');
      mask-size: contain;
      mask-repeat: no-repeat;
      inline-size: 24px;
      block-size: 24px;
      grid-area: 1/1/2/2;
      align-self: center;
      justify-self: end;
      margin-right: 0.875em;

      @extend %hidden-block;
    }

    // Для селекта иконка
    &_content_select::before {
      content: '';
      display: block;
      background-color: currentColor;
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iY3VycmVudENvbG9yIiB2aWV3Qm94PSIwIDAgMjQgMjQiPgogIDxwYXRoIGQ9Im03IDEwIDUgNSA1LTVIN1oiLz4KPC9zdmc+Cg==');
      mask-size: contain;
      mask-repeat: no-repeat;
      inline-size: 24px;
      block-size: 24px;
      grid-area: 1/1/2/2;
      align-self: center;
      justify-self: end;
      margin-right: 0.875em;

      pointer-events: none;
    }

    &_content_url-image-search {
      .field__input {
        padding-inline-end: 3.25em;
      }
    }
  }

  &__input {
    @extend %reset-input;
    background-color: #fff;
    grid-area: 1/1/2/2;
    padding: 1em;
    outline: 1px solid var(--admin-grey-200-color);
    border-radius: 5px;

    &:focus-visible {
      background-color: white;
      outline: 1px solid var(--admin-grey-300-color);
    }
  }
}
