.menu {
  flex: auto;
  display: flex;

  &__list {
    @extend %reset-list;

    display: flex;
  }

  &__link {
    display: block;
    text-decoration: none;
    padding: 0.875em;
    transition: color 0.3s;

    &:hover {
      color: var(--accent-color);
    }
    &:active {
      transform: translateY(1px);
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 2px solid var(--main-text-color);
    }
  }
}
